.contact {
  position: relative;
  padding-top: rem(220);

  @include media-mx(992) {
    padding-top: rem(140);
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 43.75vw;
    z-index: -1;

    @include media-mx(992) {
      display: none;
    }
  }

  &__wrapper {
    margin-top: rem(90);
    display: flex;
    justify-content: space-between;
    gap: rem(40);

    @include media-mx(992) {
      margin-top: rem(45);
      align-items: center;
      flex-direction: column;
    }

  }

  &__block {
    max-width: rem(400);
    width: 100%;
    position: relative;

    @include media-mx(992) {
      order: 2;
      margin-left: 8px;
    }

    &:before {
      content: "";
      background: url(@img/form-header-bg.svg);
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      width: rem(74.5);
      height: rem(115);
      z-index: 0;
      margin-left: -1px;
    }

    &::after {
      content: "";
      height: rem(100);
      top: 5px;
      left: rem(60);
      right: 5px;
      border-radius: 0 10px 0 0;
      position: absolute;
      background: #FFF;
      border: 1px dotted #E9E7E8;
      border-left: none;
      border-bottom: none;
      z-index: 1;
    }

  }

  &__block-title {
    color: #0A0A0A;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 1000;
    line-height: 130%;
    text-transform: uppercase;
    position: relative;
    z-index: 2;

    .success & {
      opacity: 0;
    }
  }

  &__block-before {
    border-radius: 10px;
    background: #15ADAE;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8px;
    bottom: -8px;
    left: -8px;
    right: 8px;
    z-index: -2;


  }

  &__block-form {
    background: #FFF;
    box-shadow: 5px 15px 20px rgba(0, 6, 63, 0.15);
    border-radius: 10px;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(40) rem(45);


  }

  &__block-dashed {
    border: 1px dotted #E9E7E8;
    position: absolute;
    inset: 5px;
    top: rem(100);
    border-top: none;
    border-radius: 0 0 10px 10px;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      width: 100px;
      height: 10px;
      left: 0;
      background: #fff;
      z-index: 0;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(30);
    margin-top: rem(30);

    .success & {
      opacity: 0;
    }

    .error {
      border-radius: 16px;
      color: #FFF;
      font-size: rem(14);
      width: 100%;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      padding: rem(5) rem(10);
      min-height: rem(60);
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FF512F;
      margin-top: rem(10);
    }
  }

  &__form-box {
    border-bottom: 1px solid #0A0A0A;
    padding-bottom: rem(10);

    &.select {
      position: relative;

      &::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='7' viewBox='0 0 13 7' fill='none'%3E%3Cpath d='M6.5 7L0.870836 0.25L12.1292 0.249999L6.5 7Z' fill='%230A0A0A'/%3E%3C/svg%3E");
        width: rem(13);
        height: rem(7);
        position: absolute;
        right: rem(2);
        pointer-events: none;
      }
    }
  }

  &__form-input {
    width: 100%;
    color: #0A0A0A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }

  &__form-select {
    width: 100%;
    color: #0A0A0A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  &__form-submit {
    border-radius: 10px;
    background: #FF512F;
    border: 1px #FF512F solid;
    color: #FFF;
    text-align: center;
    font-size: rem(18);
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    height: rem(60);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      background: transparent;
      color: #FF512F;
    }
  }

  &__image {
    max-width: rem(640);
    width: 100%;

    @include media-mx(992) {
      order: 1;
    }

    img {
      width: 100%;
    }
  }

  &__block-success {
    display: none;

    .success & {
      display: flex;
    }

    position: absolute;
    inset: 5;
    width: rem(260);
    top: rem(90);
    background: #fff;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;

    svg {
      max-width: rem(168);
    }

    .success__title {
      margin-top: rem(15);
      color: #0A0A0A;
      font-size: rem(32);
      font-style: normal;
      font-weight: 1000;
      line-height: 130%;
      text-transform: uppercase;
    }

    .success__text {
      margin-top: rem(16);
      color: #1F1F1F;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      max-width: rem(250);
    }
  }

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #0A0A0A;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
}