@keyframes up-anination {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(100px) rotate(30deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes left-anination {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  50% {
    transform: translateX(100px) rotate(30deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}